* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

header {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(to bottom, #8a0e0e, #b33333);
    padding-bottom: 40px;
}

nav {
    width: 100%;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgb(122, 4, 4);
    flex-wrap: wrap;
}

.logo {
    font-size: 2em;
    font-weight: bold;
    color: #fff;
}

.menu {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.menu a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    position: relative;
}

.menu a::before {
    content: '';
    width: 0%;
    height: 2px;
    background: indianred;
    position: absolute;
    bottom: -3px;
    left: 0;
    transition: 0.3s;
}

.menu a:hover::before {
    width: 100%;
}

.icons {
    display: flex;
    gap: 15px;
    color: white;
    font-size: 20px;
}

.register a {
    padding: 10px 20px;
    background: rgb(230, 51, 51);
    color: white;
    border-radius: 10px;
    text-decoration: none;
    transition: 0.3s;
}

.register a:hover {
    background: transparent;
    border: 1px solid indianred;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    flex-wrap: wrap;
    gap: 40px;
    color: white;
}

.Enjoy {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}

.Enjoy span {
    font-size: 40px;
    letter-spacing: 3px;
    font-weight: bold;
    text-align: center;
}

.Enjoy h1 {
    font-size: 3rem;
    line-height: 1.2;
    text-align: center;
}

.Enjoy a {
    padding: 12px 25px;
    background: indianred;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    transition: 0.4s;
    text-align: center;
}

.Enjoy a:hover {
    background: transparent;
    border: 1px solid indianred;
    color: white;
}

.air img {
    width: 380px;
    max-width: 100%;
    border-radius: 10px;
}


/*RESPONSIVE */

@media (max-width: 900px) {
    nav {
        justify-content: center;
        gap: 20px;
    }
    .container {
        text-align: center;
        justify-content: center;
    }
    .Enjoy a {
        align-self: center;
    }
}


/*@media (max-width: 600px) {
    .Enjoy h1 {
        font-size: 2.2rem;
    }
    .Enjoy span {
        font-size: 28px;
    }
}